trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'
  displayName: 'Use Python 3.10'

- script: |
    echo "Clean build environment"
    git clean -fdx
  displayName: 'Clean repository'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip'
    replaceExistingArchive: true
    excludePatterns: |
      **/__pycache__/**
      **/*.pyc
      .venv/**
      antenv/**
      **/.git/**
      **/.DS_Store
      **/.vscode/**
  displayName: 'Archive app files'

- publish: $(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip
  displayName: 'Upload Package'
  artifact: drop


  