trigger:
- master

pool:
  vmImage: ubuntu-latest

strategy:
  matrix:
    Python310:
      python.version: '3.10'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    echo "Force clean checkout"
    git clean -fdx
  displayName: 'Clean repository'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    find . -name "*.pyc" -delete
    echo "Deleted all .pyc files before archiving"
  displayName: 'Final cleanup'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip'
    replaceExistingArchive: true
    verbose: true
    excludePatterns: |
      **/*.pyc
      **/__pycache__/**
      **/.git/**
      **/.vscode/**
      **/.DS_Store
      antenv/**
      .venv/**

- publish: $(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip
  displayName: 'Upload Package'
  artifact: drop