trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  python.version: '3.12'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Benutze Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    # Wir installieren die Abhängigkeiten lokal in den Workspace, 
    # damit sie mit archiviert werden
    pip install -r requirements.txt
  displayName: 'Installiere Abhängigkeiten'

- task: ArchiveFiles@2
  displayName: 'Anwendung paketieren'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  displayName: 'Artefakt veröffentlichen'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    ArtifactName: 'drop'
    publishLocation: 'Container'