# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: ubuntu-latest
strategy:
  matrix:
    Python312:
      python.version: '3.12'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m venv antenv
    source antenv/bin/activate
    python -m pip install --upgrade pip
    pip install -r ./requirements.txt
    # Hier könnten theoretisch noch Tests laufen (pytest etc.)
  displayName: 'Install dependencies (Test Build)'

# --- NEUER SCHRITT ---
# Wir löschen das venv wieder.
# Grund: Die kompilierten C-Bibliotheken (numpy/pandas) vom Build-Agent (Ubuntu)
# funktionieren oft nicht auf der Azure WebApp. Azure soll sie selbst installieren.
- script: |
    rm -rf antenv
  displayName: 'Remove venv before zipping'
# ---------------------

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archivetype: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip'
    replaceExistingArchive: true
    verbose: true 
    
- publish: $(Build.ArtifactStagingDirectory)/Application$(Build.BuildId).zip
  displayName: 'Upload Package'
  artifact: drop