trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
  python.version: '3.12'
  # Hier den Namen deiner Web App eintragen:
  webAppName: 'WA-PD-NE-CMES-REPORTING-SUPERDEPOTUI-dev'
  azureServiceConnection: 'DEIN_SERVICE_CONNECTION_NAME'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(python.version)'
      displayName: 'Python $(python.version) vorbereiten'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: 'Dependencies installieren'

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(Build.SourcesDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'

    - publish: $(Build.ArtifactStagingDirectory)/app.zip
      artifact: drop

- stage: Deploy
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeployJob
    environment: 'development'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: '$(azureServiceConnection)'
              appType: 'webAppLinux'
              appName: '$(webAppName)'
              package: '$(Pipeline.Workspace)/drop/app.zip'
              runtimeStack: 'PYTHON|$(python.version)'
              startUpCommand: 'python -m streamlit run Main.py --server.port 8000 --server.enableCORS false'