@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@100&display=swap'); 

[class^=st-emotion] {
    font-family: myFont !important
}


body * {
    font-family: 'Montserrat', sans-serif !important;
}

