section[data-testid='stSidebar'] {
    background-color: #ffffff;
    flex-shrink: unset !important;
    
}

@media(hover:hover) and (min-width: 600px) and (max-width: 769px){

    header[data-testid="stHeader"] {
        display:none;
    }

    section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        margin-left: 305px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
        }

    button[kind="header"] {
        display: none;
    }

    div[data-testid="collapsedControl"]{
        display: none;
    }

}

@media(hover: hover) and (min-width: 769px){

    header[data-testid="stHeader"] {
        display:none;
    }

    section[data-testid='stSidebar'] {
        height: 100%;
        min-width:95px !important;
        width: 95px !important;
        transform:translateX(0px);
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        /*Hintergrundfarbe des Sidebars*/
        background-color: #0e2b63;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    section[data-testid='stSidebar']:hover{
        min-width: 330px !important;
        }

    button[kind="header"] {
        display: none;
    }

    div[data-testid="collapsedControl"]{
        display: none;
    }
}



#sidebar-header {
    color: #ffffff;
    text-align: left;
    padding: 10px 0;
    position: relative;
    margin-bottom: 15px /* Positionieren Sie den sidebar-header relativ */
}

#sidebar-header::after {
    content: ""; /* Standardmäßig leer */
    display: block;
    text-decoration: underline; /* Fügt eine Unterstreichung hinzu */
    margin-bottom: 15px
}


